@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;
  font-family: "Roboto", sans-serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.box {
  display: flex;
  flex-flow: column;
  height: 100%;
}

.box .row {
  border: 1px dotted grey;
}

.box .row .header {
  flex: 0 1 auto;
}

.box .row .content {
  flex: 1 1 auto;
}

.box .content-index {
  height: 500px;
}

.box .row .footer {
  flex: 0 1 40px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 12vh;
  width: 90%;
  margin: auto;
}

.talk {
  flex-flow: column;
  display: flex;
  justify-content: space-around;
  align-items: left;
  height: 500px;
  width: 50%;
  margin: 1px;
}

/*EVERY PAGE HEADER BAR */
.header-container {
  border-bottom: 1px solid rgba(167, 167, 167, 0.2);
  box-shadow: 0 1px 6px -5px rgb(41, 4, 4);
  width: 100%;
  background-color: white;
  height: 18vh;
  opacity: 98%;
}

.img-container {
  display: flex;
  align-items: center;
}

.img-container img {
  height: 40px;
}

.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 700px;
}

.nav-links {
  text-decoration: none;
  font-size: 17px;
  color: #647078;
  display: flex;
  align-items: center;
  height: 100%;
}
